/* Global Styles
====================================*/
body {
  color: #161616;
}

img {
  width: 300px;
}

.btn {
  padding: 8px;
  border-radius: 4px; 
}

h2 {
  text-align: center;
}

/* Profile
====================================*/
header {
  background: #404040;
  padding: 4px;
  color: #f2f2f2;
  text-align: center;
}

/* Projects
====================================*/
.projects {
  background: #dbffdb;
  padding: 4px;
}

/* Work Experience
====================================*/
.work-experience {
  background: #c7e3ff;
  padding: 4px;
}

/* Education
====================================*/
.education {
  background: #ffe8e8;
  padding: 4px;
}

/* Contact Information
====================================*/
footer {
  background: #404040;
  padding: 4px;
  color: #f2f2f2;
  text-align: center;
}

a:link.btn {
  color: #000;
  background: #fff;
}

a:hover.btn {
  color: #000;
  background: rgba(255, 255, 255, 80%);
}
