/* Global Styles
====================================*/
body {
  color: #161616;
}

img {
  width: 300px;
}

/* Profile
====================================*/
header {
  background: #404040;
  color: #f2f2f2
}

/* Projects
====================================*/
.projects {
  background: #dbffdb;
}

/* Work Experience
====================================*/
.work-experience {
  background: #c7e3ff;
}

/* Education
====================================*/
.education {
  background: #ffe8e8;
}

/* Contact Information
====================================*/
footer {
  background: #404040;
  color: #f2f2f2
}
